.imageGallery{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
padding: 10px;
}

.imageGalleryItem{
    width: calc((100% - 30px) / 4);
}

@media (max-width: 375px) {
    .imageGalleryItem{
        display: contents;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .imageGalleryItem{
        width: calc((100% - 10px) / 2);
    }
}